.langic.volga-german { background-image: url('./flags/volga-german.svg'); }
.langic.gallo { background-image: url('./flags/gallo.svg'); }
.langic.chuukese { background-image: url('./flags/chuukese.svg'); }
.langic.shan { background-image: url('./flags/shan.svg'); }
.langic.omani-arabic { background-image: url('./flags/omani-arabic.svg'); }
.langic.turkish { background-image: url('./flags/turkish.svg'); }
.langic.interlingua { background-image: url('./flags/interlingua.svg'); }
.langic.tuvaluan { background-image: url('./flags/tuvaluan.svg'); }
.langic.sikkimese { background-image: url('./flags/sikkimese.svg'); }
.langic.muong { background-image: url('./flags/muong.svg'); }
.langic.kemi-sami { background-image: url('./flags/kemi-sami.svg'); }
.langic.ladino { background-image: url('./flags/ladino.svg'); }
.langic.algerian-arabic { background-image: url('./flags/algerian-arabic.svg'); }
.langic.samoan { background-image: url('./flags/samoan.svg'); }
.langic.central-kurdish { background-image: url('./flags/central-kurdish.svg'); }
.langic.champenois { background-image: url('./flags/champenois.svg'); }
.langic.estonian { background-image: url('./flags/estonian.svg'); }
.langic.northern-sami { background-image: url('./flags/northern-sami.svg'); }
.langic.okinawan { background-image: url('./flags/okinawan.svg'); }
.langic.finnish { background-image: url('./flags/finnish.svg'); }
.langic.cuban-sign-language { background-image: url('./flags/cuban-sign-language.svg'); }
.langic.macedonian { background-image: url('./flags/macedonian.svg'); }
.langic.guaraní { background-image: url('./flags/guaraní.svg'); }
.langic.kabuverdianu { background-image: url('./flags/kabuverdianu.svg'); }
.langic.corsican { background-image: url('./flags/corsican.svg'); }
.langic.ottoman-turkish { background-image: url('./flags/ottoman-turkish.svg'); }
.langic.cherokee { background-image: url('./flags/cherokee.svg'); }
.langic.tajik { background-image: url('./flags/tajik.svg'); }
.langic.persian { background-image: url('./flags/persian.svg'); }
.langic.maguindanao { background-image: url('./flags/maguindanao.svg'); }
.langic.adyghe { background-image: url('./flags/adyghe.svg'); }
.langic.yoruba { background-image: url('./flags/yoruba.svg'); }
.langic.dogrib { background-image: url('./flags/dogrib.svg'); }
.langic.võro { background-image: url('./flags/võro.svg'); }
.langic.seychellois-creole { background-image: url('./flags/seychellois-creole.svg'); }
.langic.swedish { background-image: url('./flags/swedish.svg'); }
.langic.khanty { background-image: url('./flags/khanty.svg'); }
.langic.ewe { background-image: url('./flags/ewe.svg'); }
.langic.western-mari { background-image: url('./flags/western-mari.svg'); }
.langic.pite-sami { background-image: url('./flags/pite-sami.svg'); }
.langic.ladin { background-image: url('./flags/ladin.svg'); }
.langic.akan { background-image: url('./flags/akan.svg'); }
.langic.southern-sami { background-image: url('./flags/southern-sami.svg'); }
.langic.michif { background-image: url('./flags/michif.svg'); }
.langic.bulgarian { background-image: url('./flags/bulgarian.svg'); }
.langic.lahu { background-image: url('./flags/lahu.svg'); }
.langic.tatar { background-image: url('./flags/tatar.svg'); }
.langic.veps { background-image: url('./flags/veps.svg'); }
.langic.ingush { background-image: url('./flags/ingush.svg'); }
.langic.tibetan { background-image: url('./flags/tibetan.svg'); }
.langic.crimean-tatar { background-image: url('./flags/crimean-tatar.svg'); }
.langic.latvian { background-image: url('./flags/latvian.svg'); }
.langic.andalusian-arabic { background-image: url('./flags/andalusian-arabic.svg'); }
.langic.angevin { background-image: url('./flags/angevin.svg'); }
.langic.tokelauan { background-image: url('./flags/tokelauan.svg'); }
.langic.tswana { background-image: url('./flags/tswana.svg'); }
.langic.old-armenian { background-image: url('./flags/old-armenian.svg'); }
.langic.abkhaz { background-image: url('./flags/abkhaz.svg'); }
.langic..DS_Store { background-image: url('./flags/.DS_Store'); }
.langic.faroese { background-image: url('./flags/faroese.svg'); }
.langic.japanese { background-image: url('./flags/japanese.svg'); }
.langic.northern-kurdish { background-image: url('./flags/northern-kurdish.svg'); }
.langic.kuna { background-image: url('./flags/kuna.svg'); }
.langic.manx { background-image: url('./flags/manx.svg'); }
.langic.quechua { background-image: url('./flags/quechua.svg'); }
.langic.middle-french { background-image: url('./flags/middle-french.svg'); }
.langic.middle-irish { background-image: url('./flags/middle-irish.svg'); }
.langic.khmer { background-image: url('./flags/khmer.svg'); }
.langic.basque { background-image: url('./flags/basque.svg'); }
.langic.tahitian { background-image: url('./flags/tahitian.svg'); }
.langic.manchu { background-image: url('./flags/manchu.svg'); }
.langic.malayalam { background-image: url('./flags/malayalam.svg'); }
.langic.westrobothnian { background-image: url('./flags/westrobothnian.svg'); }
.langic.west-frisian { background-image: url('./flags/west-frisian.svg'); }
.langic.esperanto { background-image: url('./flags/esperanto.svg'); }
.langic.moroccan-arabic { background-image: url('./flags/moroccan-arabic.svg'); }
.langic.dhivehi { background-image: url('./flags/dhivehi.svg'); }
.langic.german { background-image: url('./flags/german.svg'); }
.langic.skolt-sami { background-image: url('./flags/skolt-sami.svg'); }
.langic.franc-comtois { background-image: url('./flags/franc-comtois.svg'); }
.langic.indonesian { background-image: url('./flags/indonesian.svg'); }
.langic.lule-sami { background-image: url('./flags/lule-sami.svg'); }
.langic.leonese { background-image: url('./flags/leonese.svg'); }
.langic.mansi { background-image: url('./flags/mansi.svg'); }
.langic.papiamentu { background-image: url('./flags/papiamentu.png'); }
.langic.czech { background-image: url('./flags/czech.svg'); }
.langic.greenlandic { background-image: url('./flags/greenlandic.svg'); }
.langic.rusyn { background-image: url('./flags/rusyn.svg'); }
.langic.northern-altai { background-image: url('./flags/northern-altai.svg'); }
.langic.belizean-creole { background-image: url('./flags/belizean-creole.svg'); }
.langic.rapa-nui { background-image: url('./flags/rapa-nui.svg'); }
.langic.juba-arabic { background-image: url('./flags/juba-arabic.svg'); }
.langic.tarantino { background-image: url('./flags/tarantino.svg'); }
.langic.interlingue { background-image: url('./flags/interlingue.svg'); }
.langic.rakhine { background-image: url('./flags/rakhine.svg'); }
.langic.cavineña { background-image: url('./flags/cavineña.svg'); }
.langic.belarusian { background-image: url('./flags/belarusian.svg'); }
.langic.arabic { background-image: url('./flags/arabic.svg'); }
.langic.chickasaw { background-image: url('./flags/chickasaw.svg'); }
.langic.old-portuguese { background-image: url('./flags/old-portuguese.svg'); }
.langic.galician { background-image: url('./flags/galician.svg'); }
.langic.tagalog { background-image: url('./flags/tagalog.svg'); }
.langic.bavarian { background-image: url('./flags/bavarian.svg'); }
.langic.venetian { background-image: url('./flags/venetian.svg'); }
.langic.mauritian-creole { background-image: url('./flags/mauritian-creole.svg'); }
.langic.asturian { background-image: url('./flags/asturian.svg'); }
.langic.rohingya { background-image: url('./flags/rohingya.png'); }
.langic.irish { background-image: url('./flags/irish.svg'); }
.langic.guianese-creole { background-image: url('./flags/guianese-creole.svg'); }
.langic.azerbaijani { background-image: url('./flags/azerbaijani.svg'); }
.langic.franco-provençal { background-image: url('./flags/franco-provençal.svg'); }
.langic.lombard { background-image: url('./flags/lombard.svg'); }
.langic.aleut { background-image: url('./flags/aleut.svg'); }
.langic.gujarati { background-image: url('./flags/gujarati.svg'); }
.langic.ǃxóõ { background-image: url('./flags/ǃxóõ.svg'); }
.langic.old-irish { background-image: url('./flags/old-irish.svg'); }
.langic.danish { background-image: url('./flags/danish.svg'); }
.langic.french { background-image: url('./flags/french.svg'); }
.langic.upper-sorbian { background-image: url('./flags/upper-sorbian.svg'); }
.langic.buryat { background-image: url('./flags/buryat.svg'); }
.langic.jamaican-creole { background-image: url('./flags/jamaican-creole.svg'); }
.langic.russian { background-image: url('./flags/russian.svg'); }
.langic.hungarian-sign-language { background-image: url('./flags/hungarian-sign-language.svg'); }
.langic.uzbek { background-image: url('./flags/uzbek.svg'); }
.langic.indo-portuguese { background-image: url('./flags/indo-portuguese.svg'); }
.langic.sardinian { background-image: url('./flags/sardinian.svg'); }
.langic.libyan-arabic { background-image: url('./flags/libyan-arabic.svg'); }
.langic.southern-kurdish { background-image: url('./flags/southern-kurdish.svg'); }
.langic.hunsrik { background-image: url('./flags/hunsrik.svg'); }
.langic.silesian { background-image: url('./flags/silesian.svg'); }
.langic.maori { background-image: url('./flags/maori.svg'); }
.langic.acehnese { background-image: url('./flags/acehnese.svg'); }
.langic.nepali { background-image: url('./flags/nepali.svg'); }
.langic.romansch { background-image: url('./flags/romansch.svg'); }
.langic.old-georgian { background-image: url('./flags/old-georgian.svg'); }
.langic.urdu { background-image: url('./flags/urdu.svg'); }
.langic.guyanese-creole-english { background-image: url('./flags/guyanese-creole-english.svg'); }
.langic.creek { background-image: url('./flags/creek.png'); }
.langic.hindi { background-image: url('./flags/hindi.svg'); }
.langic.malay { background-image: url('./flags/malay.svg'); }
.langic.komi-permyak { background-image: url('./flags/komi-permyak.svg'); }
.langic.ter-sami { background-image: url('./flags/ter-sami.svg'); }
.langic.bambara { background-image: url('./flags/bambara.svg'); }
.langic.ido { background-image: url('./flags/ido.svg'); }
.langic.lower-sorbian { background-image: url('./flags/lower-sorbian.svg'); }
.langic.tourangeau { background-image: url('./flags/tourangeau.svg'); }
.langic.lithuanian { background-image: url('./flags/lithuanian.svg'); }
.langic.norwegian-bokmål { background-image: url('./flags/norwegian-bokmål.svg'); }
.langic.udmurt { background-image: url('./flags/udmurt.svg'); }
.langic.forest-nenets { background-image: url('./flags/forest-nenets.svg'); }
.langic.limbu { background-image: url('./flags/limbu.svg'); }
.langic.brunei-malay { background-image: url('./flags/brunei-malay.svg'); }
.langic.somali { background-image: url('./flags/somali.svg'); }
.langic.slovene { background-image: url('./flags/slovene.svg'); }
.langic.afar { background-image: url('./flags/afar.svg'); }
.langic.limburgish { background-image: url('./flags/limburgish.svg'); }
.langic.norwegian-nynorsk { background-image: url('./flags/norwegian-nynorsk.svg'); }
.langic.megleno-romanian { background-image: url('./flags/megleno-romanian.svg'); }
.langic.tok-pisin { background-image: url('./flags/tok-pisin.svg'); }
.langic.chinese { background-image: url('./flags/chinese.svg'); }
.langic.pennsylvania-german { background-image: url('./flags/pennsylvania-german.svg'); }
.langic.catalan { background-image: url('./flags/catalan.svg'); }
.langic.transylvanian-saxon { background-image: url('./flags/transylvanian-saxon.svg'); }
.langic.dzongkha { background-image: url('./flags/dzongkha.svg'); }
.langic.alemannic-german { background-image: url('./flags/alemannic-german.svg'); }
.langic.ossetian { background-image: url('./flags/ossetian.svg'); }
.langic.zulu { background-image: url('./flags/zulu.png'); }
.langic.kazakh { background-image: url('./flags/kazakh.svg'); }
.langic.vietnamese { background-image: url('./flags/vietnamese.svg'); }
.langic.bashkir { background-image: url('./flags/bashkir.svg'); }
.langic.niuean { background-image: url('./flags/niuean.svg'); }
.langic.saterland-frisian { background-image: url('./flags/saterland-frisian.svg'); }
.langic.uyghur { background-image: url('./flags/uyghur.svg'); }
.langic.dalmatian { background-image: url('./flags/dalmatian.svg'); }
.langic.alabama { background-image: url('./flags/alabama.svg'); }
.langic.zaniza-zapotec { background-image: url('./flags/zaniza-zapotec.svg'); }
.langic.amharic { background-image: url('./flags/amharic.svg'); }
.langic.ligurian { background-image: url('./flags/ligurian.svg'); }
.langic.koryak { background-image: url('./flags/koryak.svg'); }
.langic.pijin { background-image: url('./flags/pijin.svg'); }
.langic.bolivian-sign-language { background-image: url('./flags/bolivian-sign-language.svg'); }
.langic.emilian { background-image: url('./flags/emilian.png'); }
.langic.kumyk { background-image: url('./flags/kumyk.svg'); }
.langic.old-french { background-image: url('./flags/old-french.svg'); }
.langic.nauruan { background-image: url('./flags/nauruan.svg'); }
.langic.english { background-image: url('./flags/english.svg'); }
.langic.tongan { background-image: url('./flags/tongan.svg'); }
.langic.garhwali { background-image: url('./flags/garhwali.svg'); }
.langic.karakalpak { background-image: url('./flags/karakalpak.svg'); }
.langic.chamorro { background-image: url('./flags/chamorro.svg'); }
.langic.chechen { background-image: url('./flags/chechen.svg'); }
.langic.kashubian { background-image: url('./flags/kashubian.svg'); }
.langic.tundra-nenets { background-image: url('./flags/tundra-nenets.svg'); }
.langic.south-levantine-arabic { background-image: url('./flags/south-levantine-arabic.svg'); }
.langic.tetum { background-image: url('./flags/tetum.svg'); }
.langic.hawaiian { background-image: url('./flags/hawaiian.svg'); }
.langic.hijazi-arabic { background-image: url('./flags/hijazi-arabic.svg'); }
.langic.karelian { background-image: url('./flags/karelian.svg'); }
.langic.mongolian { background-image: url('./flags/mongolian.svg'); }
.langic.pashto { background-image: url('./flags/pashto.svg'); }
.langic.mapudungun { background-image: url('./flags/mapudungun.svg'); }
.langic.akkala-sami { background-image: url('./flags/akkala-sami.svg'); }
.langic.anguthimri { background-image: url('./flags/anguthimri.svg'); }
.langic.mi'kmaq { background-image: url('./flags/mi'kmaq.svg'); }
.langic.latin { background-image: url('./flags/latin.svg'); }
.langic.inuktitut { background-image: url('./flags/inuktitut.svg'); }
.langic.luxembourgish { background-image: url('./flags/luxembourgish.svg'); }
.langic.swahili { background-image: url('./flags/swahili.svg'); }
.langic.koasati { background-image: url('./flags/koasati.svg'); }
.langic.sindhi { background-image: url('./flags/sindhi.svg'); }
.langic.novial { background-image: url('./flags/novial.svg'); }
.langic.burmese { background-image: url('./flags/burmese.svg'); }
.langic.cornish { background-image: url('./flags/cornish.svg'); }
.langic.serbo-croatian { background-image: url('./flags/serbo-croatian.gif'); }
.langic.romani { background-image: url('./flags/romani.svg'); }
.langic.livonian { background-image: url('./flags/livonian.svg'); }
.langic.ukrainian { background-image: url('./flags/ukrainian.svg'); }
.langic.aragonese { background-image: url('./flags/aragonese.svg'); }
.langic.romagnol { background-image: url('./flags/romagnol.svg'); }
.langic.aromanian { background-image: url('./flags/aromanian.svg'); }
.langic.ancient-greek { background-image: url('./flags/ancient-greek.svg'); }
.langic.miskito { background-image: url('./flags/miskito.svg'); }
.langic.khakas { background-image: url('./flags/khakas.svg'); }
.langic.marshallese { background-image: url('./flags/marshallese.svg'); }
.langic.ume-sami { background-image: url('./flags/ume-sami.svg'); }
.langic.chuvash { background-image: url('./flags/chuvash.svg'); }
.langic.najdi-arabic { background-image: url('./flags/najdi-arabic.svg'); }
.langic.southern-altai { background-image: url('./flags/southern-altai.svg'); }
.langic.evenki { background-image: url('./flags/evenki.svg'); }
.langic.bengali { background-image: url('./flags/bengali.svg'); }
.langic.lao { background-image: url('./flags/lao.svg'); }
.langic.balinese { background-image: url('./flags/balinese.svg'); }
.langic.scottish-gaelic { background-image: url('./flags/scottish-gaelic.svg'); }
.langic.cantonese { background-image: url('./flags/cantonese.svg'); }
.langic.friulian { background-image: url('./flags/friulian.svg'); }
.langic.baharna-arabic { background-image: url('./flags/baharna-arabic.svg'); }
.langic.gilbertese { background-image: url('./flags/gilbertese.svg'); }
.langic.bourguignon { background-image: url('./flags/bourguignon.svg'); }
.langic.georgian { background-image: url('./flags/georgian.svg'); }
.langic.picard { background-image: url('./flags/picard.png'); }
.langic.jeju { background-image: url('./flags/jeju.svg'); }
.langic.gagauz { background-image: url('./flags/gagauz.svg'); }
.langic.choctaw { background-image: url('./flags/choctaw.png'); }
.langic.old-english { background-image: url('./flags/old-english.svg'); }
.langic.inari-sami { background-image: url('./flags/inari-sami.svg'); }
.langic.scots { background-image: url('./flags/scots.svg'); }
.langic.egyptian-arabic { background-image: url('./flags/egyptian-arabic.svg'); }
.langic.kyrgyz { background-image: url('./flags/kyrgyz.svg'); }
.langic.cebuano { background-image: url('./flags/cebuano.svg'); }
.langic.sicilian { background-image: url('./flags/sicilian.svg'); }
.langic.navajo { background-image: url('./flags/navajo.svg'); }
.langic.middle-dutch { background-image: url('./flags/middle-dutch.svg'); }
.langic.korean { background-image: url('./flags/korean.svg'); }
.langic.polish { background-image: url('./flags/polish.svg'); }
.langic.telugu { background-image: url('./flags/telugu.svg'); }
.langic.slovak { background-image: url('./flags/slovak.svg'); }
.langic.ingrian { background-image: url('./flags/ingrian.svg'); }
.langic.swabian { background-image: url('./flags/swabian.svg'); }
.langic.louisiana-creole-french { background-image: url('./flags/louisiana-creole-french.svg'); }
.langic.cameroon-pidgin { background-image: url('./flags/cameroon-pidgin.svg'); }
.langic.kedah-malay { background-image: url('./flags/kedah-malay.svg'); }
.langic.istriot { background-image: url('./flags/istriot.svg'); }
.langic.pichinglis { background-image: url('./flags/pichinglis.svg'); }
.langic.malagasy { background-image: url('./flags/malagasy.svg'); }
.langic.maltese { background-image: url('./flags/maltese.svg'); }
.langic.armenian { background-image: url('./flags/armenian.svg'); }
.langic.eastern-mari { background-image: url('./flags/eastern-mari.svg'); }
.langic.kalmyk { background-image: url('./flags/kalmyk.svg'); }
.langic.bislama { background-image: url('./flags/bislama.svg'); }
.langic.lingala { background-image: url('./flags/lingala.svg'); }
.langic.moksha { background-image: url('./flags/moksha.svg'); }
.langic.phalura { background-image: url('./flags/phalura.svg'); }
.langic.aymara { background-image: url('./flags/aymara.svg'); }
.langic.fala { background-image: url('./flags/fala.svg'); }
.langic.sotho { background-image: url('./flags/sotho.svg'); }
.langic.neapolitan { background-image: url('./flags/neapolitan.png'); }
.langic.greek { background-image: url('./flags/greek.svg'); }
.langic.tuvan { background-image: url('./flags/tuvan.svg'); }
.langic.yonaguni { background-image: url('./flags/yonaguni.svg'); }
.langic.norman { background-image: url('./flags/norman.svg'); }
.langic.occitan { background-image: url('./flags/occitan.svg'); }
.langic.kanuri { background-image: url('./flags/kanuri.svg'); }
.langic.italian { background-image: url('./flags/italian.svg'); }
.langic.marathi { background-image: url('./flags/marathi.svg'); }
.langic.portuguese { background-image: url('./flags/portuguese.svg'); }
.langic.krio { background-image: url('./flags/krio.svg'); }
.langic.tigrinya { background-image: url('./flags/tigrinya.svg'); }
.langic.hebrew { background-image: url('./flags/hebrew.svg'); }
.langic.dutch { background-image: url('./flags/dutch.svg'); }
.langic.american-sign-language { background-image: url('./flags/american-sign-language.svg'); }
.langic.sranan-tongo { background-image: url('./flags/sranan-tongo.svg'); }
.langic.extremaduran { background-image: url('./flags/extremaduran.svg'); }
.langic.ludian { background-image: url('./flags/ludian.svg'); }
.langic.lojban { background-image: url('./flags/lojban.svg'); }
.langic.avar { background-image: url('./flags/avar.svg'); }
.langic.mikasuki { background-image: url('./flags/mikasuki.svg'); }
.langic.middle-english { background-image: url('./flags/middle-english.svg'); }
.langic.spanish { background-image: url('./flags/spanish.svg'); }
.langic.yola { background-image: url('./flags/yola.svg'); }
.langic.nigerian-pidgin { background-image: url('./flags/nigerian-pidgin.svg'); }
.langic.translingual { background-image: url('./flags/translingual.jpg'); }
.langic.old-occitan { background-image: url('./flags/old-occitan.svg'); }
.langic.erzya { background-image: url('./flags/erzya.svg'); }
.langic.breton { background-image: url('./flags/breton.svg'); }
.langic.turkmen { background-image: url('./flags/turkmen.svg'); }
.langic.votic { background-image: url('./flags/votic.svg'); }
.langic.min-nan { background-image: url('./flags/min-nan.svg'); }
.langic.romanian { background-image: url('./flags/romanian.svg'); }
.langic.mirandese { background-image: url('./flags/mirandese.png'); }
.langic.sinhalese { background-image: url('./flags/sinhalese.svg'); }
.langic.yakut { background-image: url('./flags/yakut.svg'); }
.langic.piedmontese { background-image: url('./flags/piedmontese.svg'); }
.langic.tausug { background-image: url('./flags/tausug.svg'); }
.langic.abenaki { background-image: url('./flags/abenaki.svg'); }
.langic.fijian { background-image: url('./flags/fijian.svg'); }
.langic.walloon { background-image: url('./flags/walloon.svg'); }
.langic.thai { background-image: url('./flags/thai.svg'); }
.langic.kildin-sami { background-image: url('./flags/kildin-sami.svg'); }
.langic.afrikaans { background-image: url('./flags/afrikaans.svg'); }
.langic.guinea-bissau-creole { background-image: url('./flags/guinea-bissau-creole.svg'); }
.langic.sudanese-arabic { background-image: url('./flags/sudanese-arabic.svg'); }
.langic.welsh { background-image: url('./flags/welsh.svg'); }
.langic.albanian { background-image: url('./flags/albanian.svg'); }
.langic.tunisian-arabic { background-image: url('./flags/tunisian-arabic.svg'); }
.langic.komi-zyrian { background-image: url('./flags/komi-zyrian.svg'); }
.langic.icelandic { background-image: url('./flags/icelandic.svg'); }
.langic.hungarian { background-image: url('./flags/hungarian.svg'); }
.langic.wolof { background-image: url('./flags/wolof.svg'); }
.langic.kven { background-image: url('./flags/kven.svg'); }
.langic.mandarin { background-image: url('./flags/mandarin.svg'); }
.langic.garifuna { background-image: url('./flags/garifuna.svg'); }
.langic.haitian-creole { background-image: url('./flags/haitian-creole.svg'); }
